@media screen and (min-width: 1024px) {

    header {
        height: 90px;

        nav {
            display: flex;
            justify-content: space-between;
            height: 90px;
            align-items: center;

            .header-logo {
                width: 10px;
                margin-left: 156px;
            }

            .header-icono {
                display: none;
            }

            ul {
                background: #fff;
                opacity: 1;
                color: $color-p;
                width: 487px;
                height: 80px;
                position: static;
                margin-right: 156px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                li {
                    text-decoration: none;
                    font-family: $Mon;
                    font-size: 13px;
                    padding: 0px;
                    width: 800px;
                    display: inline;
                    letter-spacing: 0;
                    font-weight: 700;
                    display: inline-block;
                    color: $color-p;
                    cursor: pointer;
                    &::after{
                        width: 0px;
                        height: 0px;
                    }
                }

                .firsLi{
                    min-width: 160px;

                }

                .firsLi::after {
                    width: 0px;
                    height: 0px;
                }

                .fourLi{
                    display: inline;
                }

            }

            .active {
                transform: translate(0, 0px);
            }


        }

    }

}