@media screen and (min-width: 1024px) {


    .main-title {
        padding-top: 171px;

        h1 {
            font-size: 35px;
            line-height: 50px;
            font-family: $Mon;
            color: $color-p;
            text-align: center;
            width: 64%;
            font-weight: 700;
            max-width: 600px;
            margin-bottom: 24px;
        }

        img {
            width: 40%;
            align-self: center;
            max-width: 400px;
        }

        .inputSearch {
            width: 89.1%;
            max-width: 460px;

            border-radius: 27px;
            transform: translateY(-5px);
            background: #FFFFFF;
            border: 1px solid $color-p;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            height: 50px;

            input {
                border: none;
                outline: none;
                align-self: center;
                width: 57.3vw;
                max-width: 400px;
                height: 40px;
            }
        }

        input::placeholder {
            font-family: $Rob;
            font-size: 16px;
            text-align: left;
            padding-left: 55px;

        }

        .main-treanding {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 18px;
                color: $color-p;
                margin-top: 73px;
            }

            p {
                width: 60%;
                font-size: 16px;
                align-self: center;
                text-align: center;
                color: $color-p;
                font-weight: 500;
                font-family: $Mon;

            }
        }

    }



    // Trending gifos
    .container-trending {
        margin-top: 45px;
        display: flex;
        flex-direction: column;

        .trending-text {
            h2 {
                text-align: center;
                margin-top: 46px;
            }

            p {
                text-align: center;
            }

            .busqueda {
                margin-top: 55px;

                .separator {
                    opacity: 0.5;
                    width: 23.5%;
                    margin-bottom: 81.9px;
                }

                .busqueda-title {
                    font-size: 35px;
                    line-height: 30px;
                    margin-bottom: 60px;

                }

                .galery-gifs {
                    grid-auto-rows: 1fr 1fr 1fr 1fr;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 29px;
                    padding-right: 156px;
                    padding-left: 156px;
                    padding-bottom: 78px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                }
            }

        }


        .trending-gif {
            display: flex;
            overflow: hidden;

            img {

                width: 64.8%;
                margin-left: 22px;
                margin-top: 32px;
                margin-bottom: 82px;
            }

        }
    }

}