@media screen and (min-width: 1024px) {

    html {
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #797979;
            border-radius: 20px;
            border: 2px solid #f1f2f3;
        }

        &::-webkit-scrollbar:vertical {
            height: px;
        }

        &::-webkit-scrollbar-button:increment,
        .contenedor::-webkit-scrollbar-button {
            display: none;
        }
    }


    .main-title {
        padding-top: 171px;

        h1 {
            font-size: 35px;
            line-height: 50px;
            font-family: $Mon;
            color: $color-p;
            text-align: center;
            width: 64%;
            font-weight: 700;
            max-width: 600px;
            margin-bottom: 24px;
        }

        img {
            width: 40%;
            align-self: center;
            max-width: 400px;
        }

        .inputSearch {
            width: 89.1%;
            max-width: 460px;

            border-radius: 27px;
            transform: translateY(-5px);
            background: #FFFFFF;
            border: 1px solid $color-p;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            height: 50px;

            input {
                border: none;
                outline: none;
                align-self: center;
                width: 57.3vh;
                max-width: 400px;
                height: 40px;
            }
        }

        input::placeholder {
            font-family: $Rob;
            font-size: 16px;
            text-align: left;
            padding-left: 55px;

        }

        .main-treanding {
            display: flex;
            flex-direction: column;

            h4 {
                font-size: 18px;
                color: $color-p;
                margin-top: 73px;
            }

            p {
                width: 60%;
                font-size: 16px;
                align-self: center;
                text-align: center;
                color: $color-p;
                font-weight: 500;
                font-family: $Mon;
                cursor: pointer;

            }
        }

    }

    .busqueda {
        margin-top: 55px;

        .separator {
            opacity: 0.5;
            width: 23.5%;
            margin-bottom: 81.9px;
        }

        .busqueda-title {
            font-size: 35px;
            line-height: 30px;
            margin-bottom: 60px;
        }

        .galery-gifs {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 29px;
            width: 100vw;
            padding-right: 156px;
            padding-left: 156px;
            padding-bottom: 78px;
            max-width: 1500px;
            align-self: center;

            div {
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 350px;
                    max-height: 290px;
                }

                max-width: 300px;
                max-height: 280px;

                .layout {
                    background: $color-p;
                    opacity: 0.7;
                    height: 0px;
                    transform: translateY(calc(-100% - (5px)));
                    transition: height .5s ease;

                    img {
                        width: 30px;
                    }

                }

                &:hover {

                    .layout {
                        height: 100%;
                    }

                }
            }

        }
    }

    .favoritos {
        .galery-gifs {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 29px;
            width: 100vw;
            padding-right: 156px;
            padding-left: 156px;
            padding-bottom: 78px;

            div {
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 350px;
                    max-height: 290px;
                }

                max-width: 300px;
                max-height: 280px;

                .layout {
                    background: $color-p;
                    opacity: 0.7;
                    height: 0px;
                    transform: translateY(calc(-100% - (5px)));
                    transition: height .5s ease;

                    img {
                        width: 30px;
                    }

                }

                &:hover {

                    .layout {
                        height: 100%;
                    }

                }
            }
        }
    }

    .mis-gifos {
        .galery-gifs {
            grid-auto-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 29px;
            width: 100vw;
            height: 100vh;
            padding-right: 156px;
            padding-left: 156px;
            padding-bottom: 78px;

            img {
                width: 100% !important;
                height: 100% !important;
            }

        }
    }

    // Trending gifos
    .container-trending {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .trending-text {
            h2 {
                text-align: center;
                margin-top: 46px;
            }

            p {
                text-align: center;
            }

        }


        .trending-gif {
            display: flex;
            overflow: scroll;

            img {

                width: 64.5%;
                margin-left: 22px;
                margin-top: 32px;
                margin-bottom: 82px;
            }

            .izquierda-container {
                .flecha-izquierda {
                    display: block;
                    transform: translate(0, 110px);
                    width: 40px;
                    height: 40px;
                }
            }

            .derecha-container {
                .flecha-derecha {
                    display: block;
                    transform: translate(0, 110px);
                    width: 40px;
                    height: 40px;
                }
            }

            &::-webkit-scrollbar {
                -webkit-appearance: none;
            }

            &::-webkit-scrollbar-track {
                border-radius: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #797979;
                border-radius: 20px;
                border: 2px solid #f1f2f3;
            }

            &::-webkit-scrollbar:horizontal {
                height: 10px;
            }
        }

    }


    .gifos-max {
        width: 99%;
        background: #FFFFFF;
        opacity: 90%;

        .close {
            display: block;
            margin-top: 64px;
            margin-left: 85.8%;
            margin-bottom: 78px;
        }

        .gifo {
            margin-left: 7.9vw;
            margin-right: 7.7vw;
            width: 84.8%;
            height: 42%;
        }

        .user-gifos-max {
            font-family: $Rob;
            font-size: 15px;
            color: #000000;

            margin-top: 14px;
            font-weight: 400;
        }

        .titulo-gifos-max {
            margin-top: 5px;
            font-size: 16px;
            color: #000000;
            font-family: $Mon;
            width: 100px;
        }

        .icono-descarga {
            opacity: 0.5;
            border: 1px solid #9CAFC3;
            border-radius: 6px;
            width: 36px;
            height: 36px;
        }

        .iconos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85px;

        }

        .container-max {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-left: 7.9vw;
            padding-right: 7.7vw;
        }
    }


    //Sección camara

    .container-crea-tu-gif {
        height: 85vh;

        .container-camara {
            display: flex;

            padding-top: 100px;



            .camara {
                display: flex;
                justify-content: center;
                margin-left: 13.5vw;
                margin-top: 100px;
                width: 205px;

                .base-camara {
                    transform: translate(0px, 22px);
                    width: 123px;
                    height: 162px;
                }

                .luz-camara {
                    transform: translate(2px, 0px);
                    width: 91px;
                    height: 151px;
                }

                .cinta1 {
                    transform: translate(-160px, 0px);
                    width: 63.6px;
                    height: 63.6px;
                }

                .cinta2 {
                    transform: translate(-270px, 15px);
                    width: 45.9px;
                    height: 45.9px;
                }
            }


        }

        .containerCenterCrearGifo {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;

            .pasosCrearGifo {
                display: flex;
                width: 147px;
                justify-content: space-between;
                align-self: center;
                margin-top: 24px;
                margin-bottom: 19px;


                .numeroDePasos {
                    border: 1px solid $color-p;
                    border-radius: 50%;
                    align-items: center;

                    :hover {
                        background: #572EE5;
                        border-radius: 50%;
                    }

                    .paso {
                        font-family: $Rob;
                        font-size: 18px;
                        color: $color-p;
                        text-align: center;
                        align-self: center;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        padding-left: 11px;
                        padding-right: 11px;

                    }
                }


            }


            .carga {
                width: 55.3%;
                height: 6.9px;
                background: $color-p;
                display: inline-block;
            }
        }

        .comenzar {
            display: flex;
            width: 100%;
            justify-content: center;
            text-decoration: none;
            cursor: pointer;
            padding-top: 27px;
            


            h1 {
                border: 1px solid $color-p;
                border-radius: 25px;
                padding-top: 17px;
                padding-bottom: 17px;
                padding-left: 32px;
                padding-right: 32px;
                font-family: $Mon;
                font-weight: 700;
                font-size: 13px;
                color: $color-p;
                letter-spacing: 0;
                text-align: center;
            }

        }

    }


    .gifo-container {
        border: 1px solid #572EE5;
        width: 47.8%;
        height: 390px;
        display: flex;

        #video {
            z-index: 10000;
            width: 47.8vw;
            height: 100%;
            max-height: 390px;
            transform: scaleX(-1);
        }
    }

    .modo_nocturno {
        header {
            nav {
                ul {
                    background: $color-p-noc;
                }
            }
        }
    }

    footer {

        .footer-social {
            flex-direction: row;
            justify-content: start;

            p {
                text-align: center;
                margin-top: 49.5px;
                margin-bottom: 0px;
                margin-left: 156px;
                letter-spacing: 0;
            }

            .social {
                display: flex;
                justify-content: space-between;
                width: 100px;
                align-self: center;
                margin-top: 49.5px;
                margin-bottom: 47.8px;
                margin-left: 17px;
            }


        }

        .content-footer {
            display: flex;
            justify-content: space-between;
        }

        .footer-copy {
            width: 250px;
            height: 1px;
            text-align: initial;
            margin-bottom: 0;
            transform: translate(0, 50px);

            p {
                width: 250px;
            }
        }

        .line-footer {
            background: $color-p;
            width: 100%;
            height: 5px;
        }
    }

    div {
        div {
            color: $color-s-noc;
            font-family: $Rob;

            .iconos_layout {
                transform: translate(150px, 10px);
                display: none;
            }

            .texto_layout {
                transform: translate(10px, 150px);
                display: none;
            }
        }

        div:hover {
            .iconos_layout {
                transform: translate(150px, 10px);
                display: block;
            }

            .texto_layout {
                transform: translate(10px, 150px);
                display: block;
            }
        }
    }


}