
/* Margenes */

$m-pc: 156px;
$m-mobile: 22px;


/* Letras */

$text-pc: 13px;
$title-pc: 35px ;


/* Colores */

$color-p:#572EE5;
$color-s:#5ED7C6;
$color-t:#50E3C2;


/*Fuentes*/

$Rob:'Roboto', sans-serif;
$Mon:'Montserrat', sans-serif;