@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

/*ROBOTO*/
/*MONTSERANT*/
/* Margenes */
/* Letras */
/* Colores */
/*Fuentes*/
header {
  z-index: 1;
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 95px; }
  header .line {
    background: #572EE5;
    width: 100%;
    height: 5px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .header-logo {
      width: 10px;
      margin: 29px 0 17.2px 22px; }
      header nav .header-logo img {
        cursor: pointer; }
    header nav .header-icono {
      margin-right: 26px;
      transition: all 1s ease;
      transform-origin: center; }
    header nav .icono-active:active {
      transform: rotate(360deg); }
    header nav ul {
      background: rgba(87, 46, 229, 0.9);
      opacity: 90%;
      color: #FFFFFF;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 95px;
      text-align: center;
      transition: all .6s ease; }
      header nav ul li {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        padding: 22px;
        width: 100%; }
      header nav ul a {
        text-decoration: none;
        color: #FFFFFF; }
      header nav ul li::after {
        content: "";
        opacity: 0.5;
        width: 41px;
        height: 1px;
        background: #FFFFFF;
        position: absolute;
        transform-origin: 20px;
        transform: translate(-150%, 25px); }
      header nav ul .firsLi::after {
        transform: translate(-220%, 25px); }
      header nav ul .fourLi {
        display: none; }
    header nav .active {
      transform: translate(0, -1500px); }

.main-title {
  display: flex;
  flex-direction: column;
  padding-top: 102px; }
  .main-title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    width: 76%;
    font-weight: 700;
    max-width: 400px;
    align-self: center;
    margin-bottom: 31px; }
  .main-title .title-change-color {
    color: #5ED7C6; }
  .main-title img {
    width: 72.8%;
    align-self: center;
    max-width: 350px; }
  .main-title .inputSearch {
    width: 89.1%;
    max-width: 460px;
    border-radius: 27px;
    transform: translateY(-5px);
    background: #FFFFFF;
    border: 1px solid #572EE5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px; }
    .main-title .inputSearch input {
      border: none;
      outline: none;
      align-self: center;
      width: 57.3vw;
      max-width: 400px;
      height: 40px; }
    .main-title .inputSearch input::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      text-align: left; }
    .main-title .inputSearch img {
      position: absolute;
      width: 20px;
      margin-left: 80%; }
  .main-title .main-treanding {
    display: flex;
    flex-direction: column; }
    .main-title .main-treanding h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #572EE5;
      align-self: center;
      line-height: 25px;
      margin-top: 31px; }
    .main-title .main-treanding p {
      width: 60%;
      align-self: center;
      text-align: center;
      color: #572EE5;
      font-weight: 500;
      font-family: "Montserrat", sans-serif; }

.container-trending {
  margin-top: 45px;
  background: #F3F5F8;
  display: flex;
  flex-direction: column; }
  .container-trending .trending-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-top: 46px; }
  .container-trending .trending-text p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px; }
  .container-trending .trending-gif {
    display: flex;
    overflow: scroll; }
    .container-trending .trending-gif img {
      width: 64.8%;
      margin-left: 22px;
      margin-top: 32px;
      margin-bottom: 82px; }
    .container-trending .trending-gif .izquierda-container .flecha-izquierda {
      display: none; }
    .container-trending .trending-gif .derecha-container .flecha-derecha {
      display: none; }

footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer .footer-social p {
    text-align: center;
    margin-top: 47px;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0; }
  footer .footer-social .social {
    display: flex;
    justify-content: space-between;
    width: 26%;
    align-self: center;
    margin-bottom: 47.8px; }
footer .footer-copy {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin-bottom: 23px; }
footer .line-footer {
  background: #572EE5;
  width: 100%;
  height: 5px; }

.busqueda {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .busqueda .separator {
    opacity: 0.5;
    height: 1px;
    background: #9CAFC3;
    width: 41.9%;
    align-self: center;
    margin-bottom: 43px; }
  .busqueda .busqueda-title {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 40px;
    margin-bottom: 38px; }
  .busqueda .galery-gifs {
    display: grid;
    grid-auto-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 21px;
    height: 100vh;
    width: 100vw;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 78px; }
    .busqueda .galery-gifs img {
      width: 100%;
      height: 100%; }

.ver-mas {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none; }
  .ver-mas span {
    border: 1px solid #572EE5;
    border-radius: 25px;
    border-radius: 25px;
    /*Corregir padding en uno solo*/
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center; }

.favoritos .fav-icon {
  display: block;
  margin: auto;
  margin-top: 20px; }
.favoritos .fav-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 46px; }
.favoritos .galery-gifs {
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  gap: 21px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 78px; }
  .favoritos .galery-gifs img {
    width: 100%;
    height: 100%; }

.mis-gifos .mis-gifos-icon {
  display: block;
  margin: auto;
  margin-top: 20px; }
.mis-gifos .mis-gifos-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 46px; }
.mis-gifos .galery-gifs {
  display: grid;
  grid-auto-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100vw;
  gap: 21px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 78px; }
  .mis-gifos .galery-gifs img {
    width: 100%;
    height: 100%; }

.gifos-max {
  width: 99%;
  background: #FFFFFF;
  opacity: 90%; }
  .gifos-max .close {
    display: block;
    margin-top: 64px;
    margin-left: 85.8%;
    margin-bottom: 78px; }
  .gifos-max .gifo {
    margin-left: 7.9vw;
    margin-right: 7.7vw;
    width: 84.8%;
    height: 42%; }
  .gifos-max .user-gifos-max {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #000000;
    margin-top: 14px;
    font-weight: 400; }
  .gifos-max .titulo-gifos-max {
    margin-top: 5px;
    font-size: 16px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    width: 100px; }
  .gifos-max .icono-descarga {
    opacity: 0.5;
    border: 1px solid #9CAFC3;
    border-radius: 6px;
    width: 36px;
    height: 36px; }
  .gifos-max .iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px; }
  .gifos-max .container-max {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 7.9vw;
    padding-right: 7.7vw; }

.display-none {
  display: none; }

.padding {
  padding-top: 106px; }

@media screen and (min-width: 1024px) {
  header {
    height: 90px; }
    header nav {
      display: flex;
      justify-content: space-between;
      height: 90px;
      align-items: center; }
      header nav .header-logo {
        width: 10px;
        margin-left: 156px; }
      header nav .header-icono {
        display: none; }
      header nav ul {
        background: #fff;
        opacity: 1;
        color: #572EE5;
        width: 487px;
        height: 80px;
        position: static;
        margin-right: 156px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header nav ul li {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          padding: 0px;
          width: 800px;
          display: inline;
          letter-spacing: 0;
          font-weight: 700;
          display: inline-block;
          color: #572EE5;
          cursor: pointer; }
          header nav ul li::after {
            width: 0px;
            height: 0px; }
        header nav ul .firsLi {
          min-width: 160px; }
        header nav ul .firsLi::after {
          width: 0px;
          height: 0px; }
        header nav ul .fourLi {
          display: inline; }
      header nav .active {
        transform: translate(0, 0px); } }
@media screen and (min-width: 1024px) {
  .main-title {
    padding-top: 171px; }
    .main-title h1 {
      font-size: 35px;
      line-height: 50px;
      font-family: "Montserrat", sans-serif;
      color: #572EE5;
      text-align: center;
      width: 64%;
      font-weight: 700;
      max-width: 600px;
      margin-bottom: 24px; }
    .main-title img {
      width: 40%;
      align-self: center;
      max-width: 400px; }
    .main-title .inputSearch {
      width: 89.1%;
      max-width: 460px;
      border-radius: 27px;
      transform: translateY(-5px);
      background: #FFFFFF;
      border: 1px solid #572EE5;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      height: 50px; }
      .main-title .inputSearch input {
        border: none;
        outline: none;
        align-self: center;
        width: 57.3vh;
        max-width: 400px;
        height: 40px; }
    .main-title input::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      text-align: left;
      padding-left: 55px; }
    .main-title .main-treanding {
      display: flex;
      flex-direction: column; }
      .main-title .main-treanding h4 {
        font-size: 18px;
        color: #572EE5;
        margin-top: 73px; }
      .main-title .main-treanding p {
        width: 60%;
        font-size: 16px;
        align-self: center;
        text-align: center;
        color: #572EE5;
        font-weight: 500;
        font-family: "Montserrat", sans-serif; }

  .busqueda {
    margin-top: 55px; }
    .busqueda .separator {
      opacity: 0.5;
      width: 23.5%;
      margin-bottom: 81.9px; }
    .busqueda .busqueda-title {
      font-size: 35px;
      line-height: 30px;
      margin-bottom: 60px; }
    .busqueda .galery-gifs {
      grid-auto-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 29px;
      width: 100vw;
      height: 100vh;
      padding-right: 156px;
      padding-left: 156px;
      padding-bottom: 78px; }
      .busqueda .galery-gifs img {
        width: 100%;
        height: 100%; }

  .favoritos .galery-gifs {
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 29px;
    width: 100vw;
    height: 100vh;
    padding-right: 156px;
    padding-left: 156px;
    padding-bottom: 78px; }
    .favoritos .galery-gifs img {
      width: 100%;
      height: 100%; }

  .mis-gifos .galery-gifs {
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 29px;
    width: 100vw;
    height: 100vh;
    padding-right: 156px;
    padding-left: 156px;
    padding-bottom: 78px; }
    .mis-gifos .galery-gifs img {
      width: 100%  !important;
      height: 100% !important; }

  .container-trending {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .container-trending .trending-text h2 {
      text-align: center;
      margin-top: 46px; }
    .container-trending .trending-text p {
      text-align: center; }
    .container-trending .trending-gif {
      display: flex;
      overflow: hidden; }
      .container-trending .trending-gif img {
        width: 64.5%;
        margin-left: 22px;
        margin-top: 32px;
        margin-bottom: 82px; }
      .container-trending .trending-gif .izquierda-container .flecha-izquierda {
        display: block;
        transform: translate(0, 110px);
        width: 40px;
        height: 40px; }
      .container-trending .trending-gif .derecha-container .flecha-derecha {
        display: block;
        transform: translate(0, 110px);
        width: 40px;
        height: 40px; }

  .gifos-max {
    width: 99%;
    background: #FFFFFF;
    opacity: 90%; }
    .gifos-max .close {
      display: block;
      margin-top: 64px;
      margin-left: 85.8%;
      margin-bottom: 78px; }
    .gifos-max .gifo {
      margin-left: 7.9vw;
      margin-right: 7.7vw;
      width: 84.8%;
      height: 42%; }
    .gifos-max .user-gifos-max {
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      color: #000000;
      margin-top: 14px;
      font-weight: 400; }
    .gifos-max .titulo-gifos-max {
      margin-top: 5px;
      font-size: 16px;
      color: #000000;
      font-family: "Montserrat", sans-serif;
      width: 100px; }
    .gifos-max .icono-descarga {
      opacity: 0.5;
      border: 1px solid #9CAFC3;
      border-radius: 6px;
      width: 36px;
      height: 36px; }
    .gifos-max .iconos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85px; }
    .gifos-max .container-max {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 7.9vw;
      padding-right: 7.7vw; }

  footer .footer-social {
    flex-direction: row;
    justify-content: start; }
    footer .footer-social p {
      text-align: center;
      margin-top: 49.5px;
      margin-bottom: 0px;
      margin-left: 156px;
      letter-spacing: 0; }
    footer .footer-social .social {
      display: flex;
      justify-content: space-between;
      width: 100px;
      align-self: center;
      margin-top: 49.5px;
      margin-bottom: 47.8px;
      margin-left: 17px; }
  footer .content-footer {
    display: flex;
    justify-content: space-between; }
  footer .footer-copy {
    width: 250px;
    height: 1px;
    text-align: initial;
    margin-bottom: 0;
    transform: translate(0, 50px); }
    footer .footer-copy p {
      width: 250px; }
  footer .line-footer {
    background: #572EE5;
    width: 100%;
    height: 5px; }

  .container-crea-tu-gif .container-camara {
    display: flex;
    padding-top: 100px; }
    .container-crea-tu-gif .container-camara .camara {
      display: flex;
      margin-left: 178px;
      margin-top: 100px;
      width: 205px; }
      .container-crea-tu-gif .container-camara .camara .base-camara {
        transform: translate(0px, 22px);
        width: 123px;
        height: 162px; }
      .container-crea-tu-gif .container-camara .camara .luz-camara {
        transform: translate(2px, 0px);
        width: 91px;
        height: 151px; }
      .container-crea-tu-gif .container-camara .camara .cinta1 {
        transform: translate(-160px, 0px);
        width: 63.6px;
        height: 63.6px; }
      .container-crea-tu-gif .container-camara .camara .cinta2 {
        transform: translate(-270px, 15px);
        width: 45.9px;
        height: 45.9px; }
  .container-crea-tu-gif .containerCenterCrearGifo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; }
    .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo {
      display: flex;
      width: 147px;
      justify-content: space-between;
      align-self: center;
      margin-top: 24px;
      margin-bottom: 19px; }
      .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo .numeroDePasos {
        border: 1px solid #572EE5;
        border-radius: 50%;
        align-items: center; }
        .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo .numeroDePasos .paso {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          color: #572EE5;
          text-align: center;
          align-self: center;
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 11px;
          padding-right: 11px; }
    .container-crea-tu-gif .containerCenterCrearGifo .carga {
      width: 795.9px;
      height: 6.9px;
      background: #572EE5;
      display: inline-block; }

  .gifo-container {
    border: 1px solid #572EE5;
    width: 47.8%;
    height: 390px;
    display: flex; } }
.modo_nocturno {
  background: #37383C; }
  .modo_nocturno header {
    background: #37383C; }
    .modo_nocturno header .line {
      background: #000000; }
    .modo_nocturno header nav ul {
      background: #000000;
      opacity: 100%; }
  .modo_nocturno main section .home .main-title h1 {
    color: #FFFFFF; }
  .modo_nocturno main section .home .main-title div {
    background: #37383C; }
    .modo_nocturno main section .home .main-title div input {
      background: #37383C; }
    .modo_nocturno main section .home .main-title div h4 {
      color: #FFFFFF; }
    .modo_nocturno main section .home .main-title div p {
      color: #FFFFFF; }
  .modo_nocturno main section .container-trending {
    background: #222326; }
    .modo_nocturno main section .container-trending div h2 {
      color: #FFFFFF; }
    .modo_nocturno main section .container-trending div p {
      color: #FFFFFF; }
  .modo_nocturno footer .content-footer div p {
    color: #FFFFFF; }
  .modo_nocturno footer .line-footer {
    background: #000000; }

/*# sourceMappingURL=style.css.map */
