@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

/*ROBOTO*/
/*MONTSERANT*/
/* Margenes */
/* Letras */
/* Colores */
/*Fuentes*/
* {
  transition-property: color;
  transition-duration: 0.6s;
  transition-timing-function: ease; }

header {
  z-index: 1;
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 95px; }
  header .line {
    background: #572EE5;
    width: 100%;
    height: 5px; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .header-logo {
      width: 10px;
      margin: 29px 0 17.2px 22px; }
      header nav .header-logo img {
        cursor: pointer; }
    header nav .header-icono {
      margin-right: 26px;
      transition: all 1s ease;
      transform-origin: center; }
    header nav .icono-active:active {
      transform: rotate(360deg); }
    header nav ul {
      background: rgba(87, 46, 229, 0.9);
      opacity: 90%;
      color: #FFFFFF;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 95px;
      text-align: center;
      transition: transform .6s ease; }
      header nav ul li {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        padding: 22px;
        width: 100%;
        transition: border .4s ease, transform .4s ease; }
        header nav ul li:hover {
          transform: translateY(2px);
          border-bottom: 2px solid #5ED7C6; }
        header nav ul li:active {
          color: #9CAFC3; }
      header nav ul a {
        text-decoration: none;
        color: #FFFFFF; }
      header nav ul li::after {
        content: "";
        opacity: 0.5;
        width: 41px;
        height: 1px;
        background: #FFFFFF;
        position: absolute;
        transform-origin: 20px;
        transform: translate(-150%, 25px); }
      header nav ul .firsLi::after {
        transform: translate(-220%, 25px); }
      header nav ul .fourLi {
        display: none; }
    header nav .active {
      transform: translate(0, -1500px); }

.main-title {
  display: flex;
  flex-direction: column;
  padding-top: 102px; }
  .main-title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 33px;
    width: 76%;
    font-weight: 700;
    max-width: 400px;
    align-self: center;
    margin-bottom: 31px; }
  .main-title .title-change-color {
    color: #5ED7C6; }
  .main-title img {
    width: 72.8%;
    align-self: center;
    max-width: 350px; }
  .main-title .inputSearch {
    width: 89.1%;
    max-width: 460px;
    border-radius: 27px;
    transform: translateY(-5px);
    background: #FFFFFF;
    border: 1px solid #572EE5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px; }
    .main-title .inputSearch input {
      border: none;
      outline: none;
      align-self: center;
      width: 57.3vw;
      max-width: 400px;
      height: 40px; }
    .main-title .inputSearch input::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      text-align: left; }
    .main-title .inputSearch img {
      position: absolute;
      width: 20px;
      margin-left: 80%; }
  .main-title .main-treanding {
    display: flex;
    flex-direction: column; }
    .main-title .main-treanding h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #572EE5;
      align-self: center;
      line-height: 25px;
      margin-top: 31px; }
    .main-title .main-treanding p {
      width: 60%;
      align-self: center;
      text-align: center;
      color: #572EE5;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      cursor: pointer; }

.container-trending {
  margin-top: 45px;
  background: #F3F5F8;
  display: flex;
  flex-direction: column; }
  .container-trending .trending-text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    margin-top: 46px; }
  .container-trending .trending-text p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px; }
  .container-trending .trending-gif {
    display: flex;
    overflow: scroll; }
    .container-trending .trending-gif img {
      width: 64.8%;
      margin-left: 22px;
      margin-top: 32px;
      margin-bottom: 82px; }
    .container-trending .trending-gif .izquierda-container .flecha-izquierda {
      display: none; }
    .container-trending .trending-gif .derecha-container .flecha-derecha {
      display: none; }
    .container-trending .trending-gif .div-father-layout img {
      width: 200px;
      height: 200px; }
    .container-trending .trending-gif .div-father-layout .layout {
      display: none; }

footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  footer .footer-social p {
    text-align: center;
    margin-top: 47px;
    margin-bottom: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0; }
  footer .footer-social .social {
    display: flex;
    justify-content: space-between;
    width: 26%;
    align-self: center;
    margin-bottom: 47.8px; }
footer .footer-copy {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin-bottom: 23px; }
footer .line-footer {
  background: #572EE5;
  width: 100%;
  height: 5px; }

.busqueda {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .busqueda .separator {
    opacity: 0.5;
    height: 1px;
    background: #9CAFC3;
    width: 41.9%;
    align-self: center;
    margin-bottom: 43px; }
  .busqueda .busqueda-title {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 40px;
    margin-bottom: 38px; }

.ver-mas {
  display: flex;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  padding-top: 27px;
  cursor: pointer; }
  .ver-mas span {
    border: 1px solid #572EE5;
    border-radius: 25px;
    border-radius: 25px;
    /*Corregir padding en uno solo*/
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 32px;
    padding-right: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    transition: background .3s ease, color .3s ease;
    text-align: center; }
    .ver-mas span:hover {
      background: #572EE5;
      color: #fff; }

.favoritos {
  display: flex;
  flex-direction: column; }
  .favoritos .sin_fav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    transform: translate(0vw, -800px); }
    .favoritos .sin_fav img {
      display: inline-block;
      margin: auto; }
    .favoritos .sin_fav h1 {
      color: #50E3C2;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      text-align: center;
      line-height: 33px;
      margin-top: 30px; }
  .favoritos .display-none {
    display: none !important;
    width: 0px;
    height: 0px;
    padding-top: 0; }
    .favoritos .display-none img {
      display: none;
      width: 0px; }
    .favoritos .display-none h1 {
      display: none; }
  .favoritos .fav-icon {
    display: block;
    margin: auto;
    margin-top: 20px; }
  .favoritos .fav-title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #572EE5;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 46px; }

.mis-gifos .mis-gifos-icon {
  display: block;
  margin: auto;
  margin-top: 20px; }
.mis-gifos .mis-gifos-title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 46px; }

.container-gifos-max {
  position: fixed;
  z-index: 100;
  top: 90px;
  background-color: #fff;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh; }
  .container-gifos-max .gifos-max {
    z-index: 101;
    width: 55%;
    display: flex;
    top: 100px;
    transform: translateX(-90px);
    position: fixed;
    background: #FFFFFF;
    flex-direction: column; }
    .container-gifos-max .gifos-max .close {
      display: block;
      align-self: flex-end;
      width: 16px;
      transform: translateX(96px);
      padding-bottom: 78px;
      padding-top: 20px;
      cursor: pointer; }
    .container-gifos-max .gifos-max .gifo {
      margin-left: 7.9vw;
      margin-right: 7.7vw;
      width: 84.8%;
      height: 42%; }
    .container-gifos-max .gifos-max .user-gifos-max {
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      color: #000000;
      margin-top: 14px;
      font-weight: 400; }
    .container-gifos-max .gifos-max .titulo-gifos-max {
      margin-top: 5px;
      font-size: 16px;
      color: #000000;
      font-family: "Montserrat", sans-serif;
      width: 100px; }
    .container-gifos-max .gifos-max .icono-descarga {
      opacity: 0.5;
      border: 1px solid #9CAFC3;
      border-radius: 6px;
      width: 36px;
      height: 36px;
      cursor: pointer; }
    .container-gifos-max .gifos-max .iconos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 85px; }
    .container-gifos-max .gifos-max .container-max {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 7.9vw; }

.display-none {
  display: none;
  padding: 0; }

.padding {
  padding-top: 106px; }

.subiendoGifo {
  display: flex;
  position: absolute;
  width: 47.8%;
  height: 450px;
  padding: 0;
  margin: 0; }
  .subiendoGifo .colorr {
    background-color: #572EE5;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%; }
  .subiendoGifo p {
    position: absolute; }

.galery-gifs {
  display: grid;
  grid-template-columns: minmax(156px, 200px) minmax(156px, 200px);
  grid-template-rows: 120px 120px 120px 120px 120px 120px;
  gap: 25px 21px;
  align-self: center;
  margin: 21px;
  margin-right: 21px; }
  .galery-gifs div {
    width: 100%;
    height: 120px; }
    .galery-gifs div img {
      width: 100%;
      height: 120px;
      max-height: 120px; }
    .galery-gifs div .layout {
      display: none; }

.modo_nocturno {
  background: #37383C; }
  .modo_nocturno header {
    background: #37383C; }
    .modo_nocturno header .line {
      background: #000000; }
    .modo_nocturno header nav ul {
      background: #000000;
      opacity: 100%; }
  .modo_nocturno main section .favoritos h4 {
    color: #FFFFFF; }
  .modo_nocturno main section .busqueda h4 {
    color: #FFFFFF; }
  .modo_nocturno main section .mis-gifos h4 {
    color: #FFFFFF; }
  .modo_nocturno main section .home .main-title h1 {
    color: #FFFFFF; }
  .modo_nocturno main section .home .main-title div {
    background: #37383C; }
    .modo_nocturno main section .home .main-title div input {
      background: #37383C; }
    .modo_nocturno main section .home .main-title div h4 {
      color: #FFFFFF; }
    .modo_nocturno main section .home .main-title div p {
      color: #FFFFFF; }
  .modo_nocturno main section .container-trending {
    background: #222326; }
    .modo_nocturno main section .container-trending div h2 {
      color: #FFFFFF; }
    .modo_nocturno main section .container-trending div p {
      color: #FFFFFF; }
  .modo_nocturno footer .content-footer div p {
    color: #FFFFFF; }
  .modo_nocturno footer .line-footer {
    background: #000000; }
  .modo_nocturno .ver-mas span {
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }
  .modo_nocturno .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo .numeroDePasos .paso {
    color: #FFFFFF; }

@media screen and (min-width: 1024px) {
  header {
    height: 90px; }
    header nav {
      display: flex;
      justify-content: space-between;
      height: 90px;
      align-items: center; }
      header nav .header-logo {
        width: 10px;
        margin-left: 156px; }
      header nav .header-icono {
        display: none; }
      header nav ul {
        background: #fff;
        opacity: 1;
        color: #572EE5;
        width: 487px;
        height: 80px;
        position: static;
        margin-right: 156px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        header nav ul li {
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-size: 13px;
          padding: 0px;
          width: 800px;
          display: inline;
          letter-spacing: 0;
          font-weight: 700;
          display: inline-block;
          color: #572EE5;
          cursor: pointer; }
          header nav ul li::after {
            width: 0px;
            height: 0px; }
        header nav ul .firsLi {
          min-width: 160px; }
        header nav ul .firsLi::after {
          width: 0px;
          height: 0px; }
        header nav ul .fourLi {
          display: inline; }
      header nav .active {
        transform: translate(0, 0px); } }
@media screen and (min-width: 1024px) {
  html::-webkit-scrollbar {
    -webkit-appearance: none; }
  html::-webkit-scrollbar-track {
    border-radius: 10px; }
  html::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3; }
  html::-webkit-scrollbar:vertical {
    height: 5px; }
  html::-webkit-scrollbar-button:increment,
  html .contenedor::-webkit-scrollbar-button {
    display: none; }

  .main-title {
    padding-top: 171px; }
    .main-title h1 {
      font-size: 35px;
      line-height: 50px;
      font-family: "Montserrat", sans-serif;
      color: #572EE5;
      text-align: center;
      width: 64%;
      font-weight: 700;
      max-width: 600px;
      margin-bottom: 24px; }
    .main-title img {
      width: 40%;
      align-self: center;
      max-width: 400px; }
    .main-title .inputSearch {
      width: 89.1%;
      max-width: 460px;
      z-index: 100;
      border-radius: 27px;
      transform: translateY(-5px);
      background: #FFFFFF;
      border: 1px solid #572EE5;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      height: 50px; }
      .main-title .inputSearch input {
        border: none;
        outline: none;
        align-self: center;
        width: 57.3vh;
        max-width: 400px;
        height: 40px; }
    .main-title input::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      text-align: left;
      padding-left: 55px; }
    .main-title .main-treanding {
      display: flex;
      flex-direction: column; }
      .main-title .main-treanding h4 {
        font-size: 18px;
        color: #572EE5;
        margin-top: 73px; }
      .main-title .main-treanding p {
        width: 60%;
        font-size: 16px;
        align-self: center;
        text-align: center;
        color: #572EE5;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
        cursor: pointer; }

  .busqueda {
    margin-top: 55px; }
    .busqueda .separator {
      opacity: 0.5;
      width: 23.5%;
      margin-bottom: 81.9px; }
    .busqueda .busqueda-title {
      font-size: 35px;
      line-height: 30px;
      margin-bottom: 60px; }

  .favoritos {
    display: flex;
    flex-direction: column; }
    .favoritos .sin_fav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
      transform: translate(0vw, -800px); }
      .favoritos .sin_fav img {
        display: inline-block;
        margin: auto; }
      .favoritos .sin_fav h1 {
        color: #50E3C2;
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        text-align: center;
        line-height: 33px;
        margin-top: 30px; }

  .mis-gifos {
    display: flex;
    flex-direction: column; }
    .mis-gifos .sin_gif img {
      display: block;
      margin: auto; }
    .mis-gifos .sin_gif h1 {
      color: #50E3C2;
      font-family: "Montserrat", sans-serif;
      font-size: 22px;
      text-align: center;
      line-height: 33px;
      margin-top: 30px; }

  .container-trending {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    overflow: hidden; }
    .container-trending .trending-text h2 {
      text-align: center;
      margin-top: 46px; }
    .container-trending .trending-text p {
      text-align: center; }
    .container-trending .trending-gif {
      height: 300px;
      max-width: 2200px;
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: 94px;
      margin-right: 94px; }
      .container-trending .trending-gif .div-father-layout {
        min-width: 17vw;
        max-width: 380px;
        overflow: hidden;
        margin-right: 20px;
        margin-bottom: 30px; }
        .container-trending .trending-gif .div-father-layout .img-layout {
          width: 100%;
          height: 30vh;
          object-fit: cover;
          margin: 0px; }
        .container-trending .trending-gif .div-father-layout .layout {
          display: block !important;
          width: 100%;
          background: #572EE5;
          opacity: 0.7;
          height: 0px;
          transform: translateY(calc(-100% - (5px)));
          transition: height .5s ease; }
          .container-trending .trending-gif .div-father-layout .layout img {
            width: 25px;
            margin: 0; }
          .container-trending .trending-gif .div-father-layout .layout .texto_layout {
            transform: translate(0, -100px); }
        .container-trending .trending-gif .div-father-layout:hover > .layout {
          height: 30vh; }
          .container-trending .trending-gif .div-father-layout:hover > .layout .iconos_layout {
            transform: translate(65%, -70px);
            display: block; }
          .container-trending .trending-gif .div-father-layout:hover > .layout .texto_layout {
            transform: translate(10px, -100px);
            display: block; }
      .container-trending .trending-gif::-webkit-scrollbar {
        -webkit-appearance: none; }
      .container-trending .trending-gif::-webkit-scrollbar-track {
        border-radius: 10px; }
      .container-trending .trending-gif::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        border: 2px solid #f1f2f3; }
      .container-trending .trending-gif::-webkit-scrollbar:horizontal {
        height: 10px; }
      .container-trending .trending-gif .izquierda-container {
        width: 60px; }
        .container-trending .trending-gif .izquierda-container .flecha-izquierda {
          display: block;
          transform: translate(-20px, 70px);
          width: 40px;
          height: 40px; }
      .container-trending .trending-gif .derecha-container .flecha-derecha {
        display: block;
        transform: translate(-20px, 70px);
        width: 40px;
        height: 40px; }

  .container-gifos-max {
    position: fixed;
    z-index: 100;
    top: 90px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    width: 100vw;
    height: 100vh; }
    .container-gifos-max .gifos-max {
      z-index: 101;
      width: 45%;
      transform: translateX(-90px);
      display: flex;
      flex-direction: column;
      position: fixed;
      background: #FFFFFF; }
      .container-gifos-max .gifos-max img {
        max-height: 50vh; }
      .container-gifos-max .gifos-max .close {
        display: block;
        align-self: flex-end;
        cursor: pointer;
        width: 16px; }
      .container-gifos-max .gifos-max .gifo {
        margin-left: 7.9vw;
        margin-right: 7.7vw;
        width: 84.8%;
        height: 42%; }
      .container-gifos-max .gifos-max .user-gifos-max {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: #000000;
        margin-top: 14px;
        font-weight: 400; }
      .container-gifos-max .gifos-max .titulo-gifos-max {
        margin-top: 5px;
        font-size: 16px;
        color: #000000;
        font-family: "Montserrat", sans-serif;
        width: 100px; }
      .container-gifos-max .gifos-max .icono-descarga {
        opacity: 0.5;
        border: 1px solid #9CAFC3;
        border-radius: 6px;
        width: 36px;
        height: 36px;
        cursor: pointer; }
      .container-gifos-max .gifos-max .icon-fav {
        cursor: pointer; }
      .container-gifos-max .gifos-max .iconos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85px; }
      .container-gifos-max .gifos-max .container-max {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 7.9vw; }

  .container-crea-tu-gif {
    height: 85vh; }
    .container-crea-tu-gif .container-camara {
      display: flex;
      padding-top: 100px; }
      .container-crea-tu-gif .container-camara .camara {
        display: flex;
        justify-content: center;
        margin-left: 13.5vw;
        margin-top: 100px;
        width: 205px; }
        .container-crea-tu-gif .container-camara .camara .base-camara {
          transform: translate(0px, 22px);
          width: 123px;
          height: 162px; }
        .container-crea-tu-gif .container-camara .camara .luz-camara {
          transform: translate(2px, 0px);
          width: 91px;
          height: 151px; }
        .container-crea-tu-gif .container-camara .camara .cinta1 {
          transform: translate(-160px, 0px);
          width: 63.6px;
          height: 63.6px; }
        .container-crea-tu-gif .container-camara .camara .cinta2 {
          transform: translate(-270px, 15px);
          width: 45.9px;
          height: 45.9px; }
    .container-crea-tu-gif .containerCenterCrearGifo {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center; }
      .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo {
        display: flex;
        width: 147px;
        justify-content: space-between;
        align-self: center;
        margin-top: 24px;
        margin-bottom: 19px; }
        .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo .numeroDePasos {
          border: 1px solid #572EE5;
          border-radius: 50%;
          align-items: center; }
          .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo .numeroDePasos .paso {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            color: #572EE5;
            text-align: center;
            align-self: center;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-left: 11px;
            padding-right: 11px; }
          .container-crea-tu-gif .containerCenterCrearGifo .pasosCrearGifo .numeroDePasos .paso-activo {
            background: #572EE5;
            border-radius: 50%;
            color: #FFFFFF; }
      .container-crea-tu-gif .containerCenterCrearGifo .tiempo {
        transform: translate(48vw, -50px);
        width: 100px; }
        .container-crea-tu-gif .containerCenterCrearGifo .tiempo h2 {
          color: #572EE5;
          font-family: "Montserrat", sans-serif;
          font-size: 15px;
          letter-spacing: 0;
          text-align: center;
          line-height: 22px; }
      .container-crea-tu-gif .containerCenterCrearGifo .carga {
        width: 55.3%;
        height: 6.9px;
        background: #572EE5;
        display: inline-block; }

  .comenzar {
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    padding-top: 27px; }
    .comenzar h1 {
      border: 1px solid #572EE5;
      border-radius: 25px;
      padding-top: 17px;
      padding-bottom: 17px;
      padding-left: 32px;
      padding-right: 32px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: #572EE5;
      letter-spacing: 0;
      text-align: center; }

  .gifo-container {
    border: 1px solid #572EE5;
    width: 47.8%;
    height: 450px;
    display: flex; }
    .gifo-container #video {
      z-index: 10000;
      width: 47vw;
      height: 100%;
      max-height: 450px;
      transform: scaleX(-1); }
    .gifo-container div {
      position: absolute;
      text-align: center;
      padding: 7.5%;
      margin-top: 20px; }
      .gifo-container div h1 {
        color: #572EE5;
        font-family: "Montserrat", sans-serif; }
        .gifo-container div h1 span {
          color: #5ED7C6; }
      .gifo-container div p {
        font-family: "Roboto", sans-serif; }
    .gifo-container .primer_paso {
      display: inline; }
    .gifo-container .segundo_paso {
      position: absolute;
      text-align: center;
      padding: 10%;
      padding-left: 10%;
      margin-top: 20px;
      margin-left: 40px; }
    .gifo-container .preview_gifo {
      width: 500px;
      height: 500px;
      z-index: 10000000; }
    .gifo-container .subiendoGifo {
      z-index: 100000;
      padding: 0;
      margin: 0;
      display: flex;
      position: absolute;
      width: 47.8%;
      height: 450px; }
      .gifo-container .subiendoGifo .colorr {
        background-color: #572EE5;
        padding: 0;
        margin: 0;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        height: 100%; }
      .gifo-container .subiendoGifo p {
        width: 100%;
        align-self: center;
        justify-items: center;
        position: absolute;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: #FFFFFF;
        font-weight: 700; }
      .gifo-container .subiendoGifo img {
        width: 22px;
        height: 22px;
        align-self: center;
        left: 48%;
        bottom: 55%;
        position: absolute; }

  .modo_nocturno header nav ul {
    background: #37383C; }

  footer {
    transform: translate(0, 80px); }
    footer .footer-social {
      flex-direction: row;
      justify-content: start; }
      footer .footer-social p {
        text-align: center;
        margin-top: 149.5px;
        margin-bottom: 0px;
        margin-left: 156px;
        letter-spacing: 0; }
      footer .footer-social .social {
        display: flex;
        justify-content: space-between;
        width: 100px;
        align-self: center;
        margin-top: 49.5px;
        margin-bottom: 47.8px;
        margin-left: 17px; }
    footer .content-footer {
      display: flex;
      justify-content: space-between; }
    footer .footer-copy {
      width: 250px;
      height: 1px;
      text-align: initial;
      margin-bottom: 0;
      transform: translate(0, 50px); }
      footer .footer-copy p {
        width: 250px; }
    footer .line-footer {
      background: #572EE5;
      width: 100%;
      height: 5px; }

  .galery-gifs {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: minmax(260px, 300px) minmax(260px, 300px) minmax(260px, 300px) minmax(260px, 300px);
    grid-template-rows: 250px 250px 250px;
    gap: 28px 29px;
    grid-template-areas: ". . . ." ". . . ." ". . . ."; }
    .galery-gifs div {
      width: 100%;
      max-width: 300px;
      height: 250px; }
      .galery-gifs div img {
        width: 100%;
        height: 100%;
        max-width: 300px;
        min-height: 250px; }
      .galery-gifs div .layout {
        display: block;
        background: #572EE5;
        opacity: 0.7;
        height: 0px;
        transform: translateY(calc(-100% - (5px)));
        transition: height .5s ease; }
        .galery-gifs div .layout img {
          width: 30px; }
      .galery-gifs div:hover .layout {
        height: 100%; }

  div .layout {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif; }
    div .layout .iconos_layout {
      transform: translate(50%, -70px);
      display: none; }
      div .layout .iconos_layout img:nth-child(1) {
        cursor: pointer; }
      div .layout .iconos_layout img:nth-child(2) {
        cursor: pointer; }
      div .layout .iconos_layout img:nth-child(3) {
        cursor: pointer; }
    div .layout .texto_layout {
      transform: translate(10px, -150px);
      display: none; }

  .div-father-layout {
    min-width: 17vw;
    max-width: 380px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 30px; }
    .div-father-layout .img-layout {
      width: 100%;
      height: 30vh;
      object-fit: cover;
      margin: 0px; }
    .div-father-layout .layout {
      width: 100%;
      background: #572EE5;
      opacity: 0.7;
      height: 0px;
      transform: translateY(calc(-100% - (5px)));
      transition: height .5s ease; }
      .div-father-layout .layout img {
        width: 25px;
        margin: 0; }
    .div-father-layout:hover > .layout {
      height: 30vh; }
      .div-father-layout:hover > .layout .iconos_layout {
        transform: translate(50%, -70px);
        display: block; }
      .div-father-layout:hover > .layout .texto_layout {
        transform: translate(10px, -150px);
        display: block; }

  .display-none {
    display: none !important;
    width: 0px;
    height: 0px;
    padding-top: 0; }
    .display-none img {
      display: none;
      width: 0px; }
    .display-none h1 {
      display: none; }

  .preview_gifo {
    width: 45vw;
    max-width: 700px;
    height: 400px;
    position: absolute;
    border: 2px solid #572EE5;
    bottom: 46%;
    left: 30%; }
    .preview_gifo img {
      width: 100%;
      height: 396px;
      transform: scaleX(-1); } }
.container-trending {
  display: flex; }
  .container-trending .izquierda-container {
    width: 50px; }

.trasladarSugerencia {
  transform: translate(0, -56px); }

.ocultarBorde {
  border: none !important; }

.raya::after {
  border-bottom: 5px solid gray; }

.sugerencia {
  border: 1px solid #572EE5;
  display: flex;
  align-items: center;
  justify-content: left;
  align-self: center;
  width: 55.3vh;
  border-radius: 27px;
  max-width: 462.29px; }
  .sugerencia ul {
    padding-top: 30px; }
    .sugerencia ul li {
      display: flex;
      list-style: none;
      padding: 10px; }
      .sugerencia ul li img {
        padding-right: 15px;
        padding-left: 15px; }
      .sugerencia ul li p {
        color: #9BA6B6;
        font-family: "Montserrat", sans-serif; }

@media screen and (min-width: 1024px) {
  footer .footer-social {
    flex-direction: row;
    justify-content: start; }
    footer .footer-social p {
      text-align: center;
      margin-top: 49.5px;
      margin-bottom: 0px;
      margin-left: 156px;
      letter-spacing: 0; }
    footer .footer-social .social {
      display: flex;
      justify-content: space-between;
      width: 100px;
      align-self: center;
      margin-top: 49.5px;
      margin-bottom: 47.8px;
      margin-left: 17px; }
  footer .content-footer {
    display: flex;
    justify-content: space-between; }
  footer .footer-copy {
    width: 250px;
    height: 1px;
    text-align: initial;
    margin-bottom: 0;
    transform: translate(0, 50px); }
    footer .footer-copy p {
      width: 250px; }
  footer .line-footer {
    background: #572EE5;
    width: 100%;
    height: 5px; } }

/*# sourceMappingURL=style.css.map */
